@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}
    <div class="container">
        <!--Head-->
        <h1>
            <a asp-controller="Home" asp-action="Index" asp-route-id="">Home</a>
            @if (ViewData["CategoryName"] != null)
            {
                <span> > </span>
                <span>@ViewData["CategoryName"]</span>
            }
        </h1>
        <!--Body-->
        <div class="row">
            @foreach(Product product in Model)
            {
                <a class="col-xs-6 col-lg-3" asp-controller="Products" asp-action="Details" asp-route-id="@product.ProductId">
                    @if (product.MainImgUrl == null)
                    {
                        <img class="w-100" src="~/images/dummy300x300.png" height="300"/>
                    }else{
                        <img class="w-100" src="~/@product.MainImgUrl" height="300" style="object-fit:cover"/>
                    }
                        <div class="position-absolute position-bottom col-xs-12">
                            <div class="w-100 d-flex justify-content-between" style="background-color:rgba(0,0,0,0.5);padding:5px">
                                <span style="font-size:24px;color:white;">@product.ProductName</span>
                                <span style="font-size:24px;color:white;">@product.Price Baht</span>
                            </div>
                        </div>
                </a>
            }
        </div>
        <!--Foot-->

    </div>